
{{#with project}}
<p>The project has been successfully created by {{creator}} at {{creationDate}}.</p>


<br>

<h1>{{client}}</h1>
<h1 class="projectname">
{{projectname}}
</h1>

<small class="status">
{{status}}</small>
{{/with}}