
<h1>Enter {{language}} text</h1>

<p class="important-note">Note: to delete a text, you only have to erase it from the field.</p>

<br>
<div>

  <form id="add-textblock-form" name="textblockform[0]" method="POST" action="/project/{{_id}}/edit">
  {{#each data}}
  <select name="select">
      <option name="default" value="mt">--Please choose an option--</option>
      <option value="title" {{ifSelected this.texttype "title"}}>Title</option>
      <option value="subtitle" {{ifSelected this.texttype "subtitle"}}>Subtitle</option>
      <option value="headline" {{ifSelected this.texttype "headline"}}>Headline</option>
      <option value="subheadline" {{ifSelected this.texttype "subheadline"}}>Subheadline</option>
      <option value="copytext" {{ifSelected this.texttype "copytext"}}>Copytext</option>
  </select>

  <label for="textarea" hidden="true">{{this.textarea}} </label>
  <input type="text" name="textarea" placeholder="Deleted Text" value="{{this.textarea}}">
  <br>
  <br>


  {{/each}}


  <div id="top_level">
        <h5>Add new text blocks</h5>
    <select name="select[{{@index}}]" class="secondary-select">
        <option name="default" value="">--Please choose an option--</option>
        <option name="title" value="title" class="selected-option">Title</option>
        <option name="title" value="subtitle" class="selected-option">Subtitle</option>
        <option name="headline" value="headline" class="selected-option">Headline</option>
        <option name="subheadline" value="subheadline" class="selected-option">Subheadline</option>
        <option name="copytext" value="copytext" class="selected-option">Copytext</option>
    </select>    
    <br>
    <textarea name="textarea[{{@index}}]" form="add-textblock-form" class="secondary-select" placeholder="Enter Text here..."></textarea>
   </div>


   <div class="dash-submit ">
     <button class="dash-submit-button" type="submit" value="Submit all texts">
Submit all texts
     </button>
   </div>
  </form>

   <div class="dash-add ">
      <button name="addbutton" class="dash-add-button" onclick="addTextblockFunction()">Add Textblock</button>
  </div>
  

</div>

<script>

let i = 0;

function addTextblockFunction() {    
i+=1;


let topleveldiv=document.createElement('DIV');
let textblockForm = document.createElement('FORM');
let select = document.createElement('SELECT');
let optionDefault = document.createElement('OPTION');
let optionTitle = document.createElement('OPTION');
let optionSubtitle = document.createElement('OPTION');
let optionHeadline = document.createElement('OPTION');
let optionSubheadline = document.createElement('OPTION');
let optionCopytext = document.createElement('OPTION');
let breakel=document.createElement('BR');
let textarea = document.createElement('TEXTAREA');
let addbutton= document.createElement('BUTTON');

optionDefault.innerText = "--Please choose an option--"
//optionDefault.setAttribute("value", "mt")
optionTitle.innerText = "Title"
optionTitle.setAttribute("value", "title")
optionTitle.setAttribute("class", "selected-option")
optionSubtitle.innerText = "Subtitle"
optionSubtitle.setAttribute("value", "subtitle")
optionSubtitle.setAttribute("class", "selected-option")
optionHeadline.innerText = "Headline"
optionHeadline.setAttribute("value", "headline")
optionHeadline.setAttribute("class", "selected-option")
optionSubheadline.innerText = "Subheadline"
optionSubheadline.setAttribute("value", "subheadline")
optionSubheadline.setAttribute("class", "selected-option")
optionCopytext.innerText = "Copytext"
optionCopytext.setAttribute("value", "copytext")
optionCopytext.setAttribute("class", "selected-option")
textarea.setAttribute("class", "secondary-select")
select.setAttribute("class", "secondary-select")

select.appendChild(optionDefault)
select.appendChild(optionTitle)
select.appendChild(optionSubtitle)
select.appendChild(optionHeadline)
select.appendChild(optionSubheadline)
select.appendChild(optionCopytext)
select.setAttribute("name", "select[" + i +"]"); 

textarea.setAttribute("name", "textarea[" + i +"]");
textarea.setAttribute("placeholder", "Enter Text here...");

topleveldiv.appendChild(select);
topleveldiv.appendChild(breakel);
topleveldiv.appendChild(textarea);




document.getElementById("top_level").appendChild(topleveldiv);
}

</script>

