
<h1>Enter {{language}} text</h1>

<p class="important-note">Note: to delete a text, you only have to erase it from the field.</p>
<br>
<div>
  <form id="add-textblock-form" name="textblockform[0]" method="POST" action="/project/{{_id}}/edit/english">
{{#each data}}
<div class="originaltext"><span>{{this.texttype}}</span>: "{{this.german}}"</div>

<label for="textarea" hidden="true">{{this.textarea}} </label>
<input type="text" name="textarea" placeholder="Deleted Text" value="{{this.textarea}}">
<br>
<br>


{{/each}}
<div class="dash-submit">
     <button class="dash-submit-button" type="submit" value="Submit all texts">
Submit all texts
     </button>
   </div>
</form>

