

<div class="list-all-projects-section">
 
   
{{!--<ul>
    {{#each projects}}
    <li>
        <h3>Project name: {{projectname}}</h3>
        <h4>Project status: {{status}}</h4>
        <h4>Created by: </h4>
        <h4>Created on: {{{date creationDate "DD/MM/YYYY"}}}</h4>
        <a href="/project/{{_id}}">Edit</a> 
        <a href="/{{_id}}/delete">Delete</a>
    </li>

    {{/each}}
</ul> --}}

</div>
<h1>All projects from A–Z</h1>
    {{#each projects}}
    <div class="allprojects">
        <img src="{{projectimage}}" alt="" class="projectimage">
        <a href="/project/{{_id}}"><h3 class="projectname_list">{{projectname}} ({{client}})</h3></a>
</div>

<div class="index-projects-details">
            <small class="status-{{this.status}}">{{status}}</small>
            <p>Created by  <b>{{creator.name}} </b>on {{{date creationDate "DD/MM/YYYY"}}}</p>
     <!--<p>Created by <b> {{this.creator.name}} </b> on {{{date creationDate "DD/MM/YYYY"}}}</p>-->
    </div>



    <div class="list-buttons">
{{#if @root.userIsPublisher}}
     <form action="/project/{{this._id}}">
     <button class="list-button-1">Edit</button>
     </form>
  
     <form action="/project/{{_id}}/delete">
     <button class="list-button-2">Delete</button>
     </form>

        {{/if}}
    </div>


    {{/each}}

<div class="pagination-buttons">
    {{#if previousPage}} 
    <form action="/project/all/?page={{previousPage}}">
        <button class="pagination-button">ᐊ Previous</button>
    </form>
    {{/if}}
    {{#if nextPage}}

        <form action="/project/all/?page={{nextPage}}">
        <button class="pagination-button">Next ᐅ</button>
    </form>
    {{/if}}
</div>


