



<h2 class="entered-text-display-header"><strong>{{projectname}}</strong> ({{client}})</h2>

<p class="project-log">author: <strong>{{author}}</strong>, created on <strong>{{date creationDate "DD/MM/YYYY"}}</strong>, last updated on <strong>{{date updateDate "DD/MM/YYYY"}}</strong> at <strong>{{date updateDate "HH:mm"}}</strong>.</p>
        <div class="statusses">
        <button class="status-{{status}}">
        {{status}}</button>

            <div class="status-updates">

            <form method="POST" action="/project/{{_id}}/completed">
            <button class="finished-button"> ✓ completed!</button>
            </form>

            <form method="POST" action="/project/{{_id}}/ongoing">
            <button class="ongoing-button"> x ongoing</button>
            </form>

            </div>

        </div>
<br>

<div class="container customwidth">

<div class="subgrid">
    <div class="grid-item">
        <h5>Texttype</h5>
    </div>
    <div class="grid-item">
        <h5>German Text</h5>
    </div>
        <div class="grid-item">
        <h5>English Text</h5>
    </div>
        <div class="grid-item">
        <h5>French Text</h5>
    </div>
</div>

  
{{#each data}}
<div class="subgrid" >  
    <div class="grid-item">
    <p class="marking-texttype">{{this.texttype}}</p>
    </div>

    <div class="grid-item">
    <p class= "display-{{this.texttype}}"> {{this.textarea}}</p>
    </div>

    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>

    {{/each}}
<div class="subgrid" >  <!--  -->
    <div class= "grid-item"></div>
    <div class= "grid-item">
            {{#if @root.userIsPublisher}}
    <a class="edit-or-csv-button" href="/project/{{_id}}/edit">Edit german text</a>
    <br>
    {{/if}}
    {{#if userIsPublisher}}
    <a class="edit-or-csv-button" href="">Export csv</a>
</div>

<div class= "grid-item">
    <a class="edit-or-csv-button" href="">Edit english text</a>
    <br>
    <a class="edit-or-csv-button" href="">Import csv</a>
</div>

<div class= "grid-item">
    <a class="edit-or-csv-button" href="">Edit french text</a>
    <br>
    <a class="edit-or-csv-button" href="">Import csv</a>
</div>
</div>
{{/if}}

</div>
</div>

