



<h2 class="entered-text-display-header"><strong>{{projectname}}</strong> ({{client}}):</h2>

<p class="project-log">author: <strong>{{author}}</strong>, created on {{date creationDate "DD/MM/YYYY"}}, last updated on <strong>{{date updateDate "DD/MM/YYYY"}}</strong> at <strong>{{date updateDate "HH:mm"}}</strong>.</p>
        <div class="statusses">
        <button class="status-{{status}}">
        {{status}}</button>

            <div class="status-updates">

            <form method="POST" action="/project/{{_id}}/completed">
            <button class="finished-button"> ✓ completed!</button>
            </form>

            <form method="POST" action="/project/{{_id}}/ongoing">
            <button class="ongoing-button"> x ongoing</button>
            </form>

            </div>

        </div>
<br>

<div class="container customwidth">

<div class="row customwidth">
    <div class="col-3">
        <h5>Texttype</h5>
    </div>
    <div class="col-3">
        <h5>German Text</h5>
    </div>
        <div class="col-3">
        <h5>English Text</h5>
    </div>
        <div class="col-3">
        <h5>French Text</h5>
    </div>
</div>

    {{#each data}}
<div class="row customwidth" >
    <div class="col-3">
    <p class="marking-texttype">({{this.texttype}})</p>
    </div>

    <div class="col-3">
    <p class= "display-{{this.texttype}}"> {{this.textarea}}</p>
    {{/each}}
    <a class="add-texts-button" href="/project/{{_id}}/edit">Edit german text</a>
    <br>
    <a class="add-texts-button" href="">Export csv</a>
</div>

<div class= "col-3">
    <a class="add-texts-button" href="">Edit english text</a>
    <br>
    <a class="add-texts-button" href="">Import csv</a>
</div>

<div class= "col-3">
    <a class="add-texts-button" href="">Edit french text</a>
    <br>
    <a class="add-texts-button" href="">Import csv</a>
</div>
</div>
</div>

