


<div class="container customwidth">
    <div class="row">
        <div class="col-sm-2">
    <img src="{{projectimage}}" alt="thumbnail" class="thumbnail-text-view"></div>
<div class="col-lg-10 header-and-paragraph">
<h2 class="entered-text-display-header"><strong>{{projectname}}</strong> ({{client}})</h2>

<p>author: <strong>{{author}}</strong>, created on <strong>{{date creationDate "DD/MM/YYYY"}}</strong>, last updated on <strong>{{date updateDate "DD/MM/YYYY"}}</strong> at <strong>{{date updateDate "HH:mm"}}</strong>.</p>
        <div class="statusses">
        <button class="status-{{status}}">
        {{status}}</button>

            <div class="status-updates">

            <form method="POST" action="/project/{{_id}}/completed">
            <button class="finished-button"> ✓ completed!</button>
            </form>

            <form method="POST" action="/project/{{_id}}/ongoing">
            <button class="ongoing-button"> x ongoing</button>
            </form>

            </div>

        </div>
</div>
</div>
</div>


<div class="container customwidth">

<div class="subgrid">
    <div class="grid-item">
        <h5 class="textheader">Texttype</h5>
    </div>
    <div class="grid-item">
        <h5 class="textheader">German Text</h5>
    </div>
        <div class="grid-item">
        <h5 class="textheader">English Text</h5>
    </div>
        <div class="grid-item">
        <h5 class="textheader">French Text</h5>
    </div>
</div>

  
{{#each data}}
<div class="subgrid" >  
    <div class="grid-item">
    <p class="marking-texttype">{{this.texttype}}</p>
    </div>

    <div class="grid-item">
    <p class= "display-{{this.texttype}}"> {{this.origtextarea}}</p>
    </div>

    <div class="grid-item display-{{this.texttype}}">{{this.engtextarea}}</div>
    <div class="grid-item display-{{this.texttype}}">{{this.frentextarea}}</div>
</div>
{{/each}}

<div class="subgrid" >  <!--  -->
    <div class= "grid-item"></div>
    <div class= "grid-item">
            {{#if @root.userIsPublisher}}
            <form action="/project/{{_id}}/edit" class="textheader">

            <button class="edit-or-csv-button">Edit german text</button>
            </form>

    <br>
    {{/if}}
    {{#if userIsPublisher}}
    <form action="/project/{{_id}}/exportgermancsv" method="POST">
    <button class="edit-or-csv-button custom-upload">Export csv*</button>
    </form>
    <p class="important-hint">* Please export only after completion!</p>
</div>


<div class= "grid-item">
    <form action="/project/{{_id}}/edit/english" class="textheader">
    <button class="edit-or-csv-button">
        Edit english text
    </button>
    </form>

    <br>
    <form action="/project/{{_id}}/csv-file-upload" method="POST" enctype="multipart/form-data">

<label for="file-upload" class="edit-or-csv-button custom-upload">
    Upload csv file
</label>
        <input id="file-upload" type="file" name="filename" class="edit-or-csv-button hidden-input">
<button class="edit-or-csv-button">
Submit
</button>

    </form>

</div>


<div class= "grid-item">
    <form action="/project/{{_id}}/edit" class="textheader">
    <button class="edit-or-csv-button">
        Edit french text
    </button>
    </form>
    <br>
    <form action="/project/{{_id}}/csv-file-upload" method="POST" enctype="multipart/form-data">

<label for="file-upload" class="edit-or-csv-button custom-upload">
    Upload csv file
</label>
        <input id="file-upload" type="file" name="filename" class="edit-or-csv-button hidden-input">
<button class="edit-or-csv-button">
Submit
</button>

    </form>
</div>
</div>
{{/if}}

</div>

<br>


