

<p>Project created by <strong>{{creator}}</strong> on {{{ date creationDate "DD.MM.YYYY" }}} at {{{ date creationDate "HH:mm" }}}</p>


<br>
<img src="{{projectimage}}" alt="projectimage" class="projectimage">
<h1>{{client}}</h1>
<h1 class="projectname">
{{projectname}}
</h1>

<small class="status">
{{status}}</small>
