

<p class="project-log">Project created by <strong>{{creator}}</strong> on {{{ date creationDate "DD.MM.YYYY" }}} at {{{ date creationDate "HH:mm" }}}</p>


<br>
<div class="projectsinprogresslist">
<div>
<img src="{{projectimage}}" alt="projectimage" class="projectimage">
</div>
<div>
<h1>{{client}}</h1>
<h1 class="projectname">
{{projectname}}
</h1>

<div class="statusses">
<button class="status-{{status}}">
{{status}}</button>
<div class="status-updates">
<form method="POST">
<button class="finished-button"> ✓ Mark as finished</button>
</form>
<form method="POST" action="/project/{{_id}}/ongoing">
<button class="ongoing-button"> x Mark as ongoing</button>
</form>
</div>
</div>
</div>
</div>
