

<p class="project-log">Project created by <strong>{{creator}}</strong> on {{{ date creationDate "DD.MM.YYYY" }}} at {{{ date creationDate "HH:mm" }}}</p>


<br>
<div class="projectsinprogresslist">
<div>
<img src="{{projectimage}}" alt="projectimage" class="projectimage">
</div>
<div>
<h1>{{client}}</h1>
<h1 class="projectname">
{{projectname}}
</h1>

<small class="status">
{{status}}</small>
</div>
</div>