<div class="profile-header">
    <img src="{{profileUser.image}}" alt="profile picture">
    <h2>Welcome in your personal work space, <br>{{profileUser.name}}!</h2>
</div>
<div class="profile-contact-information">
{{!<p>This page should only be accessible to authenticated users.</p>--}}
<span><strong>Email</strong>: {{profileUser.email}}</span> //
<span><strong>Role</strong>: {{profileUser.role}}</span>
//
<span><strong>Department</strong>: {{profileUser.department}}</span>
</div>


<div class="profile-buttons">
     {{!--<h2>List all translation projects</h2>--}}
     {{!--<a href="/project/all">Get list!</a>--}}
     <form action="/project/all">
     <button class="profile-button-1">List all projects</button>
     </form>

    {{!--<a href="/project/create">Create new project!</a>--}}
    {{#if user.role}}
    <form action="/project/create">
    <button class="profile-button-2">Create new project</button>
    </form>
    {{/if}}
</div>
<hr>
<div class="live-projects-section">
  <br>
   <h2>Ongoing Projects</h2>
   <br>
    {{#each projects}}
    
    <div class="projectsinprogresslist">
        <img src="{{projectimage}}" class="projectimage" alt="">
        <a href="/project/{{_id}}"><h3 class="projectname_list">{{projectname}} ({{client}})</h3></a>
        <!-- 
            <small class="status-{{status}}">{{status}}</small>
        -->

        <p> Created by <b>{{creator.name}}</b> on {{{date creationDate "DD/MM/YYYY"}}}</p>
    </div>
    {{/each}}

</div>
<hr>

