<div>
    <h2>User Profile</h2>
{{!<p>This page should only be accessible to authenticated users.</p>--}}
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<span><strong>Role</strong>: {{user.role}}</span>
<br />
<span><strong>Department</strong>: {{user.department}}</span>
</div>

<hr>

<div class="live-projects-section">
  <br>
   <h2>Review Active Projects</h2>
   <br>
    {{#each projects}}
    <div class="projectsinprogresslist">
        <h3 class="projectname_list">{{projectname}} ({{client}})</h3>
        <small class="status">{{status}}</small>
        <p>Created by {{creator.name}} on {{{date creationDate "DD/MM/YYYY"}}}</p>
        <a href="/project/{{_id}}">Review Project</a> 
    </div>
    {{/each}}

</div>
<hr>

<div>
     {{!--<h2>List all translation projects</h2>--}}
     {{!--<a href="/project/all">Get list!</a>--}}
     <form action="/project/all">
     <button type="submit">List all projects</button>
     </form>
</div>



<div>
    {{!--<a href="/project/create">Create new project!</a>--}}
    <form action="/project/create">
    <button type="submit">Create new project</button>
    </form>
</div>